@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
.container-header {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 3rem;
    background-color: #2f2f2f;
    display: flex;
    font-family: "Montserrat", sans-serif;
    color: white;
    align-items: center;
    padding: 2%;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.left {
    display: flex;
    align-items: center;
}

.container-filter {
    display: flex;
    align-items: center;
}

.logo-filter {
    display: flex;
    align-items: center;
    width: 45px;
    height: auto;
}

.logo-filter:hover {
    cursor: pointer;
    text-shadow: 8px 11px 10px rgba(0, 0, 0, 0.25);
}

.logo-mix {
    margin: 0 1.563rem 0 1.563rem;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-weight: 800;
    font-size: 1.65rem;
    text-shadow: 8px 11px 10px rgba(0, 0, 0, 0.25);
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 1.563rem 0 1.563rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
}
.links:hover {
    cursor: pointer;
    color: #be21cc;
    font-weight: bold;
    transition-duration: 0.3s;
    transition-property: color;
}

.container-searchbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 13.5rem;
    height: 1.8rem;
    margin: 0 1.5rem 0 1.563rem;
    background-color: #fff;
    border-radius: 35px;
}
.loupe {
    width: 18px;
    height: auto;
    cursor: pointer;
}
#searchbar {
    width: 80%;
    height: 2.5rem;
    border: none;
    border-radius: 35px;
    padding: 0 1.563rem 0 1.563rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    font-weight: 600;
    color: black;
}
.select2-container--default .select2-selection--single {
    border: none !important;
}

/***responsive***/
@media screen and (max-width: 1200px) {
    .logo-mix {
        font-size: 1.2rem;
    }
    .links {
        font-size: 1rem;
        margin-right: 0.2rem;
    }
}

@media screen and (max-width: 1111px) {
    .links {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 900px) {
    .logo-mix {
        font-size: 1rem;
    }
    .links {
        font-size: 0.8rem;
    }
    .logo-filter {
        width: 35px;
    }
    .container-searchbar {
        width: 10rem;
        margin: 0;
        margin-right: 1rem;
    }
    .select2-container--default .select2-selection--single {
        font-size: 0.8rem;
        margin-right: 1rem;
    }
}
