body {
    overflow-x: hidden;
}
.container-one-cocktail {
    padding: 4.375rem;
}
.container-cocktail {
    padding-top: 1.875rem;
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.container-cocktail-img {
    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cocktail-img {
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.5);
}

.container-cocktail-infos {
    width: 55%;
    display: flex;
    flex-direction: column;
}

.container-cocktail-name {
    display: flex;
    color: #010101;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 1.25rem;
}

.container-cocktail-ingredients {
    background: #2f2f2f;
    box-shadow: 6px 7px 4px rgba(0, 0, 0, 0.25);
    border-radius: 26px;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25rem;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    padding: 1.25rem;
}

li {
    list-style: disc;
    margin-left: 1.875rem;
}

.text-recipe {
    margin: 10px 0 10px 0;
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    color: #010101;
}

.infos-recipe {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25rem;
    color: black;
    font-family: "Montserrat";
    font-weight: 700;
}

.degustez {
    margin-top: 3.125rem;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;

    color: #010101;
}

.container-the-alcool {
    width: 31.25rem;
    height: 31.25rem;
    position: absolute;
    right: -4.375rem;
    top: 9.375rem;
    opacity: 35%;
}
.infos-recipe {
    margin-top: 1.25rem;
}
.instructions {
    text-align: justify;
    margin: -0.813rem 0 0 1.875rem;
}
